# [ EXPLORATION ] 15. ÏïÑÏù¥Ïú†Ìå¨Ïù¥ Ï¢ãÏïÑÌï† ÎßåÌïú Îã§Î•∏ ÏïÑÌã∞Ïä§Ìä∏ Ï∞æÍ∏∞

‚úÖÏ∂îÏ≤úÏãúÏä§ÌÖúÏùò Í∏∞Î≥∏Ï†ÅÏù∏ ÏõêÎ¶¨ÏôÄ Íµ¨ÏÑ±ÏùÑ ÌååÏïÖÌïòÍ≥† Last.fm Îç∞Ïù¥ÌÑ∞ Îπõ MovieLes Îç∞Ïù¥ÌÑ∞Î•º ÌÜµÌï¥ Í∞ÑÎã®ÌïòÍ≥† Ìö®Í≥ºÏ†ÅÏù∏ ÏïÑÌã∞Ïä§Ìä∏ Ï∂îÏ≤úÏãúÏä§ÌÖúÍ≥º ÏòÅÌôî Ï∂îÏ≤úÏãúÏä§ÌÖúÏùÑ Íµ¨ÌòÑÌï¥ Î≥∏Îã§.

---
### - üìñÎ™©Ï∞®
* ‚úîÔ∏è15-9. ÌîÑÎ°úÏ†ùÌä∏ - Movielens ÏòÅÌôî Ï∂îÏ≤ú Ïã§Ïäµ
* ‚úîÔ∏èÌöåÍ≥† Î∞è Í≤∞Î°†
* ‚úîÔ∏èReference(Ï∞∏Í≥†ÏûêÎ£å)

<br>

## ‚úîÔ∏è15-9. ÌîÑÎ°úÏ†ùÌä∏ - Movielens ÏòÅÌôî Ï∂îÏ≤ú Ïã§Ïäµ
---
### 1) Îç∞Ïù¥ÌÑ∞ Ï§ÄÎπÑÏôÄ Ï†ÑÏ≤òÎ¶¨

In [ ]:
# Î™®Îìà Î°úÎìú
import os
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# Í≤ΩÍ≥† Î¨¥Ïãú
import warnings
warnings.filterwarnings("ignore", category=UserWarning, module='bs4')

In [ ]:
%%capture
!pip install implicit

In [ ]:
# Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
!ls '/content/gdrive/MyDrive/aiffel/ex_15/data'

movies.dat  ratings.dat  README  users.dat

In [ ]:
# Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏

rating_file_path= '/content/gdrive/MyDrive/aiffel/ex_15/data/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [ ]:
# 3Ï†ê Ïù¥ÏÉÅÎßå ÎÇ®Í∏∞Í∏∞
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [ ]:
# ratings Ïª¨ÎüºÏùò Ïù¥Î¶ÑÏùÑ counts
ratings.rename(columns={'ratings':'counts'}, inplace=True)

In [ ]:
ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [ ]:
# ÏòÅÌôî Ï†úÎ™©ÏùÑ Î≥¥Í∏∞ ÏúÑÌï¥ Î©îÌÉÄ Îç∞Ïù¥ÌÑ∞Î•º ÏùΩÍ∏∞
movie_file_path= '/content/gdrive/MyDrive/aiffel/ex_15/data/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [ ]:
df1 = ratings.set_index("movie_id")
ratings2 = ratings.join(movies.set_index('movie_id'), on='movie_id')
using_cols = ['user_id', 'movie_id', 'counts', 'title']

ratings2 = ratings2[using_cols]
ratings2.head(10)

   user_id  movie_id  counts                                   title
0        1      1193       5  One Flew Over the Cuckoo's Nest (1975)
1        1       661       3        James and the Giant Peach (1996)
2        1       914       3                     My Fair Lady (1964)
3        1      3408       4                  Erin Brockovich (2000)
4        1      2355       5                    Bug's Life, A (1998)
5        1      1197       3              Princess Bride, The (1987)
6        1      1287       5                          Ben-Hur (1959)
7        1      2804       5               Christmas Story, A (1983)
8        1       594       4  Snow White and the Seven Dwarfs (1937)
9        1       919       4                Wizard of Oz, The (1939)

<br>

### 2) Î∂ÑÏÑùÌï¥ Î¥ÖÏãúÎã§.

- ratingsÏóê ÏûàÎäî Ïú†ÎãàÌÅ¨Ìïú ÏòÅÌôî Í∞úÏàò
- ratingsÏóê ÏûàÎäî Ïú†ÎãàÌÅ¨Ìïú ÏÇ¨Ïö©Ïûê Ïàò
- Í∞ÄÏû• Ïù∏Í∏∞ ÏûàÎäî ÏòÅÌôî 30Í∞ú(Ïù∏Í∏∞Ïàú)

In [ ]:
# ÏòÅÌôî Í∞úÏàò
ratings2['movie_id'].nunique()

3628

In [ ]:
# Ïú†Ï†Ä Ïàò
ratings2['user_id'].nunique()

6039

In [ ]:
movie_count = ratings2.groupby('title')['user_id'].count()
movie_count.sort_values(ascending=False).head(50)

title
American Beauty (1999)                                   3211
Star Wars: Episode IV - A New Hope (1977)                2910
Star Wars: Episode V - The Empire Strikes Back (1980)    2885
Star Wars: Episode VI - Return of the Jedi (1983)        2716
Saving Private Ryan (1998)                               2561
Terminator 2: Judgment Day (1991)                        2509
Silence of the Lambs, The (1991)                         2498
Raiders of the Lost Ark (1981)                           2473
Back to the Future (1985)                                2460
Matrix, The (1999)                                       2434
Jurassic Park (1993)                                     2413
Sixth Sense, The (1999)                                  2385
Fargo (1996)                                             2371
Braveheart (1995)                                        2314
Men in Black (1997)                                      2297
Schindler's List (1993)                                  2257
Princess Bride, The (1987)                               2252
Shakespeare in Love (1998)                               2213
L.A. Confidential (1997)                                 2210
Shawshank Redemption, The (1994)                         2194
Godfather, The (1972)                                    2167
Groundhog Day (1993)                                     2121
E.T. the Extra-Terrestrial (1982)                        2102
Being John Malkovich (1999)                              2066
Ghostbusters (1984)                                      2051
Pulp Fiction (1994)                                      2030
Forrest Gump (1994)                                      2022
Terminator, The (1984)                                   2019
Toy Story (1995)                                         2000
Fugitive, The (1993)                                     1941
Alien (1979)                                             1920
Gladiator (2000)                                         1798
Total Recall (1990)                                      1786
Star Wars: Episode I - The Phantom Menace (1999)         1783
Usual Suspects, The (1995)                               1744
Stand by Me (1986)                                       1728
Blade Runner (1982)                                      1722
Aliens (1986)                                            1720
One Flew Over the Cuckoo's Nest (1975)                   1680
Wizard of Oz, The (1939)                                 1650
Godfather: Part II, The (1974)                           1624
Casablanca (1942)                                        1623
Who Framed Roger Rabbit? (1988)                          1605
Bug's Life, A (1998)                                     1599
Jaws (1975)                                              1598
GoodFellas (1990)                                        1595
Die Hard (1988)                                          1593
Hunt for Red October, The (1990)                         1587
Airplane! (1980)                                         1586
Babe (1995)                                              1574
Name: user_id, dtype: int64

<br>

### 3) ÎÇ¥Í∞Ä ÏÑ†Ìò∏ÌïòÎäî ÏòÅÌôîÎ•º 5Í∞ÄÏßÄ Í≥®ÎùºÏÑú ratingsÏóê Ï∂îÍ∞ÄÌï¥ Ï§çÏãúÎã§.

In [ ]:
my_favorite = ['Men in Black (1997)','Matrix, The (1999)','Star Wars: Episode VI - Return of the Jedi (1983)','E.T. the Extra-Terrestrial (1982)','Toy Story (1995)']
my_favorite_id = ['2297','2434','2716','2102','2000']

# 'zimin'Ïù¥ÎùºÎäî user_idÍ∞Ä ÏúÑ ÏïÑÌã∞Ïä§Ìä∏Ïùò ÎÖ∏ÎûòÎ•º 30ÌöåÏî© Îì§ÏóàÎã§Í≥† Í∞ÄÏ†ï
my_movielist = pd.DataFrame({'user_id': ['buyel']*5, 'movie_id' : my_favorite_id,'counts':[5]*5, 'title': my_favorite})

if not ratings2.isin({'user_id':['buyel']})['user_id'].any():  # user_idÏóê 'zimin'Ïù¥ÎùºÎäî Îç∞Ïù¥ÌÑ∞Í∞Ä ÏóÜÏùÑ Ïãú
    ratings2 = ratings2.append(my_movielist)                           # ÏúÑÏóê ÏûÑÏùòÎ°ú ÎßåÎì† my_favorite Îç∞Ïù¥ÌÑ∞ Ï∂îÍ∞Ä

ratings2.tail(10)

  user_id movie_id  counts                                              title
0    6039     2297       5                                                175
1    6039     2434       5                                                124
2    6039     2716       5                                                 64
3    6039     2102       5                                                 26
4    6039     2000       5                                                 40
0   buyel     2297       5                                Men in Black (1997)
1   buyel     2434       5                                 Matrix, The (1999)
2   buyel     2716       5  Star Wars: Episode VI - Return of the Jedi (1983)
3   buyel     2102       5                  E.T. the Extra-Terrestrial (1982)
4   buyel     2000       5                                   Toy Story (1995)

In [ ]:
# Í≥†Ïú†Ìïú Ïú†Ï†Ä, ÏïÑÌã∞Ïä§Ìä∏Î•º Ï∞æÏïÑÎÇ¥Îäî ÏΩîÎìú
user_unique = ratings2['user_id'].unique()
movie_unique = ratings2['title'].unique()

# Ïú†Ï†Ä, ÏïÑÌã∞Ïä§Ìä∏ indexing ÌïòÎäî ÏΩîÎìú idxÎäî indexÏùò ÏïΩÏûêÏù¥Îã§.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [ ]:
# Ïù∏Îç±Ïã±Ïù¥ Ïûò ÎêòÏóàÎäîÏßÄ ÌôïÏù∏. 
print(user_to_idx['buyel'])
print(movie_to_idx['Men in Black (1997)'])

6040
3628

In [ ]:
# indexingÏùÑ ÌÜµÌï¥ Îç∞Ïù¥ÌÑ∞ Ïª¨Îüº ÎÇ¥ Í∞íÏùÑ Î∞îÍæ∏Îäî ÏΩîÎìú
# dictionary ÏûêÎ£åÌòïÏùò get Ìï®ÏàòÎäî https://wikidocs.net/16 ÏóêÏÑú Ï∞∏Í≥†

# user_to_idx.getÏùÑ ÌÜµÌï¥ user_id Ïª¨ÎüºÏùò Î™®Îì† Í∞íÏùÑ Ïù∏Îç±Ïã±Ìïú SeriesÎ•º Íµ¨Ìï¥ Î≥¥Ïûê
# ÌòπÏãú Ï†ïÏÉÅÏ†ÅÏúºÎ°ú Ïù∏Îç±Ïã±ÎêòÏßÄ ÏïäÏùÄ rowÍ∞Ä ÏûàÎã§Î©¥ Ïù∏Îç±Ïä§Í∞Ä NaNÏù¥ Îê† ÌÖåÎãà dropna()Î°ú Ï†úÍ±∞
temp_user_data = ratings2['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(ratings2):   # Î™®Îì† rowÍ∞Ä Ï†ïÏÉÅÏ†ÅÏúºÎ°ú Ïù∏Îç±Ïã±ÎêòÏóàÎã§Î©¥
    print('user_id column indexing OK!!')
    ratings2['user_id'] = temp_user_data   # data['user_id']ÏùÑ Ïù∏Îç±Ïã±Îêú SeriesÎ°ú ÍµêÏ≤¥
else:
    print('user_id column indexing Fail!!')

# movie_to_idxÏùÑ ÌÜµÌï¥ title Ïª¨ÎüºÎèÑ ÎèôÏùºÌïú Î∞©ÏãùÏúºÎ°ú Ïù∏Îç±Ïã±
temp_movie_data = ratings2['title'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(ratings2):
    print('title column indexing OK!!')
    ratings2['title'] = temp_movie_data
else:
    print('title column indexing Fail!!')

ratings2

user_id column indexing OK!!
title column indexing OK!!

    user_id movie_id  counts  title
0         0     1193       5      0
1         0      661       3      1
2         0      914       3      2
3         0     3408       4      3
4         0     2355       5      4
..      ...      ...     ...    ...
0      6039     2297       5    175
1      6039     2434       5    124
2      6039     2716       5     64
3      6039     2102       5     26
4      6039     2000       5     40

[836483 rows x 4 columns]

<br>

### 4) CSR matrixÎ•º ÏßÅÏ†ë ÎßåÎì§Ïñ¥ Î¥ÖÏãúÎã§.

In [ ]:
# Ïã§Ïäµ ÏúÑÏóê ÏÑ§Î™ÖÎ≥¥Í≥† Ïù¥Ìï¥Ìï¥ÏÑú ÎßåÎì§Ïñ¥Î≥¥Í∏∞
from scipy.sparse import csr_matrix

num_user = ratings2['user_id'].nunique()
num_movie = ratings2['title'].nunique()

csr_data = csr_matrix((ratings2.counts, (ratings2.user_id, ratings2.title)), shape= (num_user, num_movie))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.longlong'>'
	with 836483 stored elements in Compressed Sparse Row format>

<br>

### 5) als_model = AlternatingLeastSquares Î™®Îç∏ÏùÑ ÏßÅÏ†ë Íµ¨ÏÑ±ÌïòÏó¨ ÌõàÎ†®ÏãúÏºú Î¥ÖÏãúÎã§.

In [ ]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [ ]:
# Implicit AlternatingLeastSquares Î™®Îç∏Ïùò ÏÑ†Ïñ∏
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=25, dtype=np.float32)

In [ ]:
# als Î™®Îç∏ÏùÄ inputÏúºÎ°ú (item X user Íº¥Ïùò matrixÎ•º Î∞õÍ∏∞ ÎïåÎ¨∏Ïóê Transpose Ìï¥Ï§ÄÎã§.)
#csr_data_transpose = csr_data.T
csr_data_transpose = csr_data

In [ ]:
# Î™®Îç∏ ÌõàÎ†®
als_model.fit(csr_data_transpose)

  0%|          | 0/25 [00:00<?, ?it/s]

<br>

### 6) ÎÇ¥Í∞Ä ÏÑ†Ìò∏ÌïòÎäî 5Í∞ÄÏßÄ ÏòÅÌôî Ï§ë ÌïòÎÇòÏôÄ Í∑∏ Ïô∏Ïùò ÏòÅÌôî ÌïòÎÇòÎ•º Í≥®Îùº ÌõàÎ†®Îêú Î™®Îç∏Ïù¥ ÏòàÏ∏°Ìïú ÎÇòÏùò ÏÑ†Ìò∏ÎèÑÎ•º ÌååÏïÖÌï¥ Î≥¥ÏÑ∏Ïöî.

In [ ]:
buyel, Matrix = user_to_idx['buyel'], movie_to_idx['Matrix, The (1999)']
buyel_vector, Matrix_vector = als_model.user_factorsbuyel], als_model.item_factors[Matrix]

In [ ]:
buyel_vector

array([-7.53163338e-01,  1.13992326e-01, -1.14833834e-02,  5.13385646e-02,
        7.28359759e-01, -2.99719483e-01, -3.55087556e-02,  3.49307537e-01,
        6.62303329e-01,  5.29432356e-01,  3.62202078e-02, -5.80792665e-01,
       -1.18047982e-01,  4.82324421e-01, -1.34663749e+00,  1.11428046e+00,
       -5.46255708e-02, -2.85410583e-01,  2.43565246e-01, -4.46852058e-01,
        8.80008280e-01, -7.38415897e-01, -1.88611537e-01,  5.64157188e-01,
       -1.84189186e-01,  3.40493649e-01,  6.43773735e-01, -2.94152826e-01,
        1.98749006e-01, -1.37997925e-01,  4.73932564e-01, -1.43922970e-01,
        4.79624867e-01,  1.71484053e-01, -4.75226268e-02, -3.41632545e-01,
       -1.51106879e-01, -8.88972133e-02,  6.68643057e-01,  6.80411384e-02,
        2.19610348e-01,  8.65211785e-02,  2.39156841e-04, -7.00243115e-01,
        6.49182618e-01,  8.31946254e-01, -3.64707202e-01, -8.71338844e-02,
       -5.78571856e-01,  2.86633551e-01,  2.74649620e-01, -2.02073693e-01,
        8.92164052e-01, -3.14810216e-01, -5.06663978e-01, -9.23034906e-01,
       -7.29955554e-01, -1.20350167e-01, -3.89812887e-01,  2.08468795e-01,
        1.15452878e-01,  4.31755364e-01, -4.76914346e-01, -2.40083009e-01,
       -1.07028358e-01,  2.48082325e-01,  1.76679850e-01,  4.41379771e-02,
       -3.25390369e-01, -2.32553512e-01, -2.89557964e-01,  3.24253887e-01,
        1.57355871e-02,  4.02179211e-01, -9.68320072e-02, -1.63571551e-01,
        3.07186574e-01, -2.89661046e-02, -5.33370912e-01, -5.94979167e-01,
       -2.30318546e-01, -3.06440890e-01, -4.48395878e-01,  5.95894992e-01,
        3.69539022e-01, -8.04567695e-01,  2.34704062e-01, -1.24602228e-01,
        2.26110369e-01,  2.84440190e-01,  8.26092958e-01, -1.32108629e-01,
        3.56437713e-01, -7.80283868e-01,  3.17322880e-01,  6.19054198e-01,
        1.54761598e-01, -8.50196600e-01,  1.14355373e+00,  2.58637127e-02],
      dtype=float32)

In [ ]:
Matrix_vector

array([-0.01066333,  0.00472578,  0.00384912,  0.00248695,  0.03168683,
        0.02153509,  0.02414745,  0.03188241,  0.03334448,  0.02321646,
       -0.00242877, -0.02299661,  0.0183045 ,  0.03212208, -0.02829956,
        0.00365882, -0.00102274, -0.00970952,  0.004776  ,  0.00183218,
        0.0403115 , -0.02089067,  0.01530248,  0.01690111,  0.01301125,
        0.00410482,  0.02754636,  0.01953262,  0.02173669,  0.01561468,
        0.02619692,  0.01600741,  0.03891899,  0.01027006, -0.02175556,
        0.02084035, -0.00055692, -0.02506704,  0.00289898, -0.00150306,
        0.0115023 ,  0.02448574, -0.01668894, -0.02267407,  0.03224552,
        0.00503472, -0.0084677 ,  0.01429117, -0.02068722,  0.01284038,
        0.00920922, -0.01429983,  0.03295572, -0.02534479, -0.01766404,
       -0.01001931, -0.0134629 , -0.00150519, -0.01422342,  0.00606608,
        0.00314223,  0.02383385, -0.00205521,  0.02930146, -0.02464189,
        0.01791523,  0.00040434, -0.007031  ,  0.01967832, -0.01200844,
       -0.0061522 ,  0.01902573,  0.0030208 , -0.00908952,  0.01312556,
       -0.0350147 ,  0.01916117, -0.00783212, -0.01278638, -0.00684544,
       -0.0384548 ,  0.00119195,  0.00780318,  0.015905  ,  0.02380971,
        0.00289934,  0.01224752, -0.00645258,  0.02199536,  0.02164767,
        0.01602816,  0.02784635,  0.01760029, -0.02194765, -0.01287427,
        0.0252117 ,  0.01528242, -0.02584342,  0.04587919,  0.04298016],
      dtype=float32)

In [ ]:
# ziminÍ≥º black_eyed_peasÎ•º ÎÇ¥Ï†ÅÌïòÎäî ÏΩîÎìú
np.dot(buyel_vector, Matrix_vector)

0.5739234

In [ ]:
Braveheart = movie_to_idx['Braveheart (1995)']
Braveheart_vector = als_model.item_factors[Braveheart]
np.dot(buyel_vector, Braveheart_vector)

0.23863949

In [ ]:
print (movies.loc[movies['title'] == 'Braveheart (1995)'])

     movie_id              title             genre
108       110  Braveheart (1995)  Action|Drama|War

In [ ]:
#AlternatingLeastSquares ÌÅ¥ÎûòÏä§ 
#similar_items Î©îÏÑúÎìúÎ•º ÌÜµÌïòÏó¨ ÎπÑÏä∑Ìïú ÏòÅÌôî ÏÑúÏπò
favorite_movie = 'Matrix, The (1999)'
movie_id = movie_to_idx[favorite_movie]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

[(124, 1.0),
 (92, 0.77656054),
 (62, 0.67102724),
 (200, 0.5675946),
 (141, 0.54841626),
 (145, 0.5481634),
 (107, 0.51591516),
 (375, 0.48792705),
 (175, 0.45036307),
 (317, 0.42505172),
 (75, 0.4222443),
 (44, 0.39126346),
 (117, 0.36725572),
 (193, 0.3633525),
 (479, 0.34451026)]

In [ ]:
 #artist_to_idx Î•º Îí§ÏßëÏñ¥, indexÎ°úÎ∂ÄÌÑ∞ artist Ïù¥Î¶ÑÏùÑ ÏñªÎäî dictÎ•º ÏÉùÏÑ±
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
[idx_to_movie[i[0]] for i in similar_movie]

['Matrix, The (1999)',
 'Terminator 2: Judgment Day (1991)',
 'Total Recall (1990)',
 'Terminator, The (1984)',
 'Fugitive, The (1993)',
 'Fifth Element, The (1997)',
 'Jurassic Park (1993)',
 'Face/Off (1997)',
 'Men in Black (1997)',
 'Twelve Monkeys (1995)',
 'Hunt for Red October, The (1990)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Alien (1979)',
 'Contact (1997)']

<br>

### 7) ÎÇ¥Í∞Ä Ï¢ãÏïÑÌïòÎäî ÏòÅÌôîÏôÄ ÎπÑÏä∑Ìïú ÏòÅÌôîÎ•º Ï∂îÏ≤úÎ∞õÏïÑ Î¥ÖÏãúÎã§.

In [ ]:
def get_similar_movie(movie_name: str):
    movie_id = movie_to_idx[movie_name]
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = [idx_to_movie[i[0]] for i in similar_movie]
    return similar_movie

In [ ]:
get_similar_movie('Matrix, The (1999)')

['Matrix, The (1999)',
 'Terminator 2: Judgment Day (1991)',
 'Total Recall (1990)',
 'Terminator, The (1984)',
 'Fugitive, The (1993)',
 'Fifth Element, The (1997)',
 'Jurassic Park (1993)',
 'Face/Off (1997)',
 'Men in Black (1997)',
 'Twelve Monkeys (1995)']

In [ ]:
user = user_to_idx['buyel']
# recommendÏóêÏÑúÎäî user*item CSR MatrixÎ•º Î∞õÏäµÎãàÎã§.
movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

[(117, 0.611336),
 (44, 0.57017756),
 (92, 0.5324728),
 (60, 0.51625264),
 (107, 0.488379),
 (22, 0.42072985),
 (50, 0.37725553),
 (160, 0.31556457),
 (4, 0.31548274),
 (322, 0.3029769),
 (62, 0.28613216),
 (670, 0.27534655),
 (87, 0.27498633),
 (99, 0.26587522),
 (200, 0.26205027),
 (5, 0.25703767),
 (317, 0.25694093),
 (120, 0.25455558),
 (110, 0.24128345),
 (141, 0.23880862)]

In [ ]:
[idx_to_movie[i[0]] for i in movie_recommended]

['Star Wars: Episode V - The Empire Strikes Back (1980)',
 'Star Wars: Episode IV - A New Hope (1977)',
 'Terminator 2: Judgment Day (1991)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Jurassic Park (1993)',
 'Back to the Future (1985)',
 'Toy Story 2 (1999)',
 'Forrest Gump (1994)',
 "Bug's Life, A (1998)",
 'Babe (1995)',
 'Total Recall (1990)',
 'Galaxy Quest (1999)',
 'Braveheart (1995)',
 'American Beauty (1999)',
 'Terminator, The (1984)',
 'Princess Bride, The (1987)',
 'Twelve Monkeys (1995)',
 'Raiders of the Lost Ark (1981)',
 'Groundhog Day (1993)',
 'Fugitive, The (1993)']

In [ ]:
# Ï∂îÏ≤úÏóê Í∏∞Ïó¨Ìïú Ï†ïÎèÑ
Xman = movie_to_idx['X-Men (2000)']
explain = als_model.explain(user, csr_data, itemid=Xman)

In [ ]:
[(idx_to_movie[i[0]], i[1]) for i in explain[1]]

[('Matrix, The (1999)', 0.1123100775760715),
 ('Star Wars: Episode VI - Return of the Jedi (1983)', 0.06607174087700818),
 ('Men in Black (1997)', 0.04374438838721238),
 ('Toy Story (1995)', -0.005706328812545284),
 ('E.T. the Extra-Terrestrial (1982)', -0.02411263224834979)]

<br>

## ‚úîÔ∏èÌöåÍ≥† Î∞è Í≤∞Î°†
---

#### ‚ñ∂Ô∏è Ïù¥Î≤à ÌîÑÎ°úÏ†ùÌä∏ÏóêÏÑú Ïñ¥Î†§Ïõ†Îçò Ï†ê

![20220626003535](https://user-images.githubusercontent.com/100528803/175784922-448c4b34-1470-4b38-a1d1-b3f0b1f3fa5b.png)

LMSÏôÄ ÏÉÅÏù¥ÌñàÎçò ÏóêÎü¨Îì§... Ï†ïÎßê LMSÏôÄ colabÏóêÏÑú Î¨¥Ïä® ÌôòÍ≤ΩÏóê Ïñ¥ÎñªÍ≤å Ï†ÅÏö©Ìï¥ÏïºÌïòÎäîÏßÄ Î™®Ìò∏ÌñàÎçò ÏóêÎü¨Îì§ÏùÑ ÌïòÎÇòÏî© ÏßÑÌñâÌïúÎã§ÎäîÍ≤å ÏâΩÏßÄ ÏïäÏïòÎã§. Ïò§Ï£ΩÌïòÎ©¥ LMSÏóêÏÑú Îã§Ïãú ÎèåÏïÑÍ∞ÄÏÑú ÎèåÎ†§Î≥¥Í∏∞ÍπåÏßÄ ÌñàÏùÑÍπå Ïã∂ÏùÑ Ï†ïÎèÑÎ°ú Ïó¨Í∏∞ÏÑú Ï†úÏùº ÏãúÌñâÏ∞©Ïò§Î•º ÎßéÏù¥ Í≤™ÏóàÎã§.

<br>

#### ‚ñ∂Ô∏è ÌîÑÎ°úÏ†ùÌä∏Î•º ÏßÑÌñâÌïòÎ©¥ÏÑú ÏïåÏïÑÎÇ∏ Ï†ê ÌòπÏùÄ ÏïÑÏßÅ Î™®Ìò∏Ìïú Ï†ê

Ïú†Ï†ÄÏóê ÎåÄÌïú ÏÑ†Ìò∏ÎèÑÎ•º Î≤°ÌÑ∞Î°ú ÏßÅÏ†ë ÌôïÏù∏Ìï† Ïàò ÏûàÎã§Îäî Ï†êÏù¥ Ïã†Í∏∞ÌïòÎ©¥ÏÑúÎèÑ Î¨òÌñàÎäîÎç∞, ÏïûÏÑú ÏûÑÎ≤†Îî©ÏóêÏÑúÏùò Î≤°ÌÑ∞Î•º Í≥ÑÏÇ∞ÌïòÎ©¥ÏÑú Îã®Ïñ¥Îì§ÎÅºÎ¶¨Ïùò ÏÉÅÍ¥ÄÍ¥ÄÍ≥ÑÎ•º Ïà´ÏûêÎ°ú ÌëúÌòÑÌï† Ïàò ÏûàÎã§Îäî ÏÇ¨Ïã§Ïù¥Îûë Îß§Ïπ≠Ïù¥ ÎêêÎã§. Ïñ¥ÎñªÍ≤å Î≥¥Î©¥ ÏàòÏπòÌôî Ìï† Ïàò ÏóÜÎã§Í≥† ÏÉùÍ∞ÅÌñàÎçò ÏÇ¨ÎûåÏùò Í∞êÏÑ±Ïóê Í¥ÄÎ†®Îêú Î∂ÄÎ∂ÑÎì§ÏùÑ Ïã§Ï†ú Ïà´ÏûêÎ°ú ÏπòÌôòÌï† Ïàò ÏûàÎã§Îäî Ï†êÏùÄ Í∏∞Î¨òÌïòÎ©¥ÏÑúÎèÑ ÏûêÍæ∏Îßå Ïù¥Í≤å Ï†ïÌôïÌïú ÏàòÏπòÏùºÏßÄ Í≥†ÎØºÌïòÍ≤å ÎßåÎì†Îã§.

<br>

#### ‚ñ∂Ô∏è Î£®Î∏åÎ¶≠ ÌèâÍ∞Ä ÏßÄÌëúÎ•º ÎßûÏ∂îÍ∏∞ ÏúÑÌï¥ ÏãúÎèÑÌïú Í≤ÉÎì§

Ïù¥Î≤à ÌîÑÎ°úÏ†ùÌä∏ÏóêÏÑú Î£®Î∏åÎ¶≠Ïùò Í∏∞Ï§ÄÏùÄ ÏïÑÎûòÏôÄ Í∞ôÏïòÎã§.

|       |                                    **< ÌèâÍ∞ÄÎ¨∏Ìï≠ >**                                   |                                                              **< ÏÉÅÏÑ∏Í∏∞Ï§Ä >**                                                             |
|-------|:---------------------------------------------------------------------------------|:-------------------------------------------------------------------------------------------------------------------------------------|
| **1** | CSR matrixÍ∞Ä Ï†ïÏÉÅÏ†ÅÏúºÎ°ú ÎßåÎì§Ïñ¥Ï°åÎã§.                                 | ÏÇ¨Ïö©ÏûêÏôÄ ÏïÑÏù¥ÌÖú Í∞úÏàòÎ•º Î∞îÌÉïÏúºÎ°ú Ï†ïÌôïÌïú ÏÇ¨Ïù¥Ï¶àÎ°ú ÎßåÎì§ÏóàÎã§.<br>                                                        |
| **2** | MF Î™®Îç∏Ïù¥ Ï†ïÏÉÅÏ†ÅÏúºÎ°ú ÌõàÎ†®ÎêòÏñ¥ Í∑∏Îü¥ÎìØÌïú Ï∂îÏ≤úÏù¥ Ïù¥Î£®Ïñ¥Ï°åÎã§. | ÏÇ¨Ïö©ÏûêÏôÄ ÏïÑÏù¥ÌÖú Î≤°ÌÑ∞ ÎÇ¥Ï†ÅÏàòÏπòÍ∞Ä ÏùòÎØ∏ÏûàÍ≤å ÌòïÏÑ±ÎêòÏóàÎã§.                               |
| **3** | ÎπÑÏä∑Ìïú ÏòÅÌôî Ï∞æÍ∏∞ÏôÄ Ïú†Ï†ÄÏóêÍ≤å Ï∂îÏ≤úÌïòÍ∏∞Ïùò Í≥ºÏ†ïÏù¥ Ï†ïÏÉÅÏ†ÅÏúºÎ°ú ÏßÑÌñâÎêòÏóàÎã§.                                    | MFÎ™®Îç∏Ïù¥ ÏòàÏ∏°Ìïú Ïú†Ï†Ä ÏÑ†Ìò∏ÎèÑ Î∞è ÏïÑÏù¥ÌÖúÍ∞Ñ Ïú†ÏÇ¨ÎèÑ, Í∏∞Ïó¨ÎèÑÍ∞Ä ÏùòÎØ∏ÏûàÍ≤å Ï∏°Ï†ïÎêòÏóàÎã§. |

![20220626025116](https://user-images.githubusercontent.com/100528803/175785036-e7d2890c-1510-4b70-9997-3febfd4fcef5.png)

ÏùºÎã® ÏÑ†Ìò∏ÌïòÎäî ÏòÅÌôîÎì§ÏùÑ Î®ºÏ†Ä ÎΩëÏïÑÎÇ∏ Îí§Ïóê,

![20220626025141](https://user-images.githubusercontent.com/100528803/175785037-8bd37c88-e696-4010-9198-e0b699a7db20.png)

ÎπÑÏä∑Ìïú ÏòÅÌôîÎì§ÏùÑ ÍºΩÏïÑÎÇ¥Í≥†,

![20220626025157](https://user-images.githubusercontent.com/100528803/175785038-1da82b4e-1daf-4c37-9032-e3f2b1dcd3a1.png)

Í∑∏Î°ú Ïù∏Ìï¥ Ï∂îÏ≤úÏãúÏä§ÌÖúÏùÑ ÌÜµÌï¥ÏÑú ÏóáÎπÑÏä∑Ìïú ÏòÅÌôîÎì§ÏùÑ ÎΩëÏïÑÎÇ∏Îã§Îäî ÏÇ¨Ïã§Ïù¥ Ïã†Í∏∞ÌñàÎã§. ÌäπÌûà Ïä§ÌÉÄÏõåÏ¶àÏùò Í≤ΩÏö∞ Í∞ÄÏû• Ïó∞Í¥ÄÏù¥ ÍπäÏùÄ ÏãúÎ¶¨Ï¶à 5, 3, 1ÏùÑ Í∞ÅÍ∏∞ ÎΩëÏïÑÎÉÑÍ≥º ÎèôÏãúÏóê back to the FutureÍ∞ôÏùÄ SF Í¥ÄÎ†® ÏòÅÌôîÎì§ÏùÑ ÎΩëÏïÑÎÇ∏Îã§Îäî Ï†êÏóêÏÑú Ïñ¥ÎäêÏ†ïÎèÑ Ïó∞Í¥ÄÏÑ±Ïù¥ ÎëêÎìúÎü¨Ï†∏ Î≥¥ÏòÄÍ≥†, Toy StoryÏùò Í≤ΩÏö∞ 2Î≤ÑÏ†ÑÏùÑ ÎΩëÏïÑÎÇ¥Í≥†, babeÎÇò bug's lifeÍ∞ôÏùÄ 3D Ïï†ÎãàÎì§ÍπåÏßÄ ÎëêÎ£® ÎΩëÏïÑÎÉàÎã§Îäî Ï†êÏóêÏÑú Ïú†ÏÇ¨ÏÑ±ÏùÑ Î≤°ÌÑ∞Î°ú Íµ¨ÌòÑÌï¥ÎÉàÎã§ÎäîÍ±∏ ÌôïÏù∏Ìï† Ïàò ÏûàÏóàÎã§. Í≤∞Î°†Ï†ÅÏúºÎ°ú Ï∂îÏ≤úÏãúÏä§ÌÖúÏù¥ Ï†úÎåÄÎ°ú ÏûëÏö©ÌñàÎã§ÎäîÍ≤å Ïã†Í∏∞ÌïòÎã§.

<br>

#### ‚ñ∂Ô∏è ÏûêÍ∏∞ Îã§Ïßê

ÏÇ¨Ïã§ ÎÇ¥Í∞Ä Ï†ïÎßê Ï∞æÍ≥† Ïã∂ÏóàÎçò ÏòÅÌôîÎì§ÏùÄ Î¶¨Ïä§Ìä∏Ïóê ÏóÜÏóàÍ∏∞ ÎïåÎ¨∏Ïóê ÎåÄÏ≤¥Ï†ÅÏúºÎ°ú Îã§Î•∏ Í∏∞ÏàòÎ∂ÑÎì§Ïù¥ ÏçºÎçò Îç∞Ïù¥ÌÑ∞ Ï§ëÏóêÏÑú Ïù∏Í∏∞ÏûàÎäî ÏãúÎ¶¨Ï¶àÎì§ ÏúÑÏ£ºÎ°ú Í∞ÄÏ†∏Îã§Í∞Ä ÎßéÏù¥ ÏçºÍ∏∞ ÎïåÎ¨∏Ïóê ÏßÑÏßú ÎÇ¥ Ï∑®Ìñ•ÏùÑ Ï†úÎåÄÎ°ú Ï∞æÏßÄ ÏïäÏïòÎã§Îäî Ï†êÏùÄ Ï°∞Í∏à ÏïÑÏâΩÎã§(Ïã§Ï†úÎ°ú ÎÇ¥Í∞Ä Ï¢ãÏïÑÌïòÎäî ÏòÅÌôîÎì§ÏùÄ Ïù¥ Î¶¨Ïä§Ìä∏Ïóê ÏõêÎûò ÏóÜÏóàÎã§.....)

<br>

## ‚úîÔ∏èReference(Ï∞∏Í≥†ÏûêÎ£å)
---
* https://www.kaggle.com/code/alsojmc/movie-recommender-systems/notebook
* https://velog.io/@skarb4788/%EB%94%A5%EB%9F%AC%EB%8B%9D-%EC%98%81%ED%99%94-%EC%B6%94%EC%B2%9C-%EC%8B%9C%EC%8A%A4%ED%85%9C
* https://diane-space.tistory.com/90
* https://ddongwon.tistory.com/115